<header>
  <% if user_signed_in? %>
    <%= link_to 'Minhas Receitas', my_recipes_recipes_path, class: 'nav-link' %>
    <%= link_to 'Enviar uma receita', new_recipe_path, class: 'nav-link' %>
    <%= link_to 'Cadastrar tipo de receita', new_recipe_type_path, class: 'nav-link' %>
    <%= link_to 'Cadastrar tipo de cozinha', new_cuisine_path, class: 'nav-link' %>
  <% end %>
</header>


<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<ul>
  <li><%= flash[:errors]%></li>
</ul>

<div id= "featured">
  <% if @recipe_featured.any? %>
    <% @recipe_featured.each do |recipe| %>
      <h1>
        <% if recipe.featured %>
          <%= image_tag 'recipes/star.png', alt: "#{recipe.title} em destaque", width: '2%' %>
        <% end %>
        <%= link_to recipe.title, recipe %>
      </h1>
      <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.difficulty %></li>
        <li><%= recipe.cook_time_min %></li>
      </ul>
    <% end %>
  <% else %>
    <p>Nenhuma receita em destaque</p>
  <% end %>
</div>

<div id= "other_recipes">
  <% @recipe_unfeatured.each do |recipe| %>
    <h1><%= link_to recipe.title, recipe %></h1>
    <ul>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.cuisine.name %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time_min %></li>
    </ul>
  <% end %>
</div>

<div id= "last_recipes">
  <% @last_recipes.each do |recipe| %>
    <h1><%= link_to recipe.title, recipe %></h1>
  <% end %>
</div>